- member_facets(@result_set) do |member_facets|
  .sidenote
    %ol#by-member-facet
      %li Top twenty speakers
      - member_facets[0..19].each do |member, times|
        %li.member-facet
          = member_facet_link(member, times, @query)