- member_facets(@result_set) do |member_facets|
  .sidenote
    %p Speaker
    %ol#by-member-facet
      - member_facets.each do |member, times|
        %li.member-facet
          = member_facet_link(member, times, @query)