- @title = 'Search'

%h3 How we present search results

%p By default, search results are presented in order of relevance: that is, an order decided by the search engine based on comparisons of similarity and frequency of the term appearing within the text contributions.

%p You can change the sort order by using the links to the top right of the search results: 'Most recent first' sorts the list of results to show the most recently dated contributions first and 'Earliest first' sorts to show the oldest dated contributions first.

%p The search engine will recognise certain sorts of queries and offer links based on them: for example - <code>Andrew Rosindell</code> will bring up a link to that MP, 

%h3 How you can use the search function on this site

%p By default our search engine gives results that are somewhat fuzzy: a search for <code>nation</code> will give results that also include the word <code>nationalism</code> or the word <code>nationally</code>. You can <strong>make the search more fuzzy</strong> by using the <code>~</code> sign: for example - <code>sat~</code> will give results that include the word <code>rat</code>, <code>oats</code> and <code>cat</code>.

%p All searches are <strong>case-insensitive</strong>. A search for <code>LONDON</code> returns the same results as a search for <code>london</code>.

%p If you search for two or more words, the search engine will assume you want all of the words to be present in the results. For example, if you search for <code>NATO Spain</code> the search engine will search for text containing both words, <code>NATO</code> and <code>Spain</code>.

%p If you want to <strong>search for either word</strong>, you can use the word <code>OR</code> in the search text box to join the words together: for example <code>NATO OR Spain</code>. This will search for text containing either the word <code>NATO</code> or the word <code>Spain</code>.

%p You can <strong>exclude a term</strong> from your search using the <code>-</code> sign: for example: <code>London -Greater</code> will search for text containing the word <code>london</code> which does not contain the word <code>greater</code>.

%p If you want to <strong>search for a phrase</strong>, you can use the <code>+</code> sign in the search text box to join the words together: for example <code>peace+treaty</code>. This will search for text containing the word <code>peace</code>, followed afterwards by the word <code>treaty</code>.

%p You can search for a word marking <strong>a single missing letter</strong> with a <code>?</code>: for example - <code>l?nch</code> will give results that include the word <code>lunch</code>, <code>lynch</code> or <code>linch</code>.

%p <strong>Multiple missing letters</strong> can be marked with a <code>*</code>: for example - <code>dev*nt</code> will give results that include the word <code>devrient</code>, <code>development</code> or <code>deviant</code>.

%p The search engine can recognise a standard <strong>Hansard reference</strong>, such as: <code>HC Deb 19 July 1982 vol 28 cc58-9W</code> and will take you straight to where the reeference points to, if we have the data.

%h3 Faceted search

%p Where available, a link to "Filter results by speaker or house" will be shown. Using the links provided, you can build a search query as you go: you can add or remove 'facets' - and the search results will be updated to take account of them. You can also bookmark a faceted search result set.

%p Faceted search allows complex queries to be built up without requiring complex search forms. Facets that lead to empty result sets are not shown.
