- on_edit_page = false unless on_edit_page
- @title = @sitting.title
%p
  %span.date= @sitting.date_text
  - if on_edit_page
    %span= '('+ link_to('stop editing', sitting_date_url(@sitting)) + ')'
  - else
    %span= '('+ edit_sitting_link(@sitting) + ')'
