- section = section_link
- if section.linkable?
  .section-line
    - section_id = 'section_'+section.id.to_s
    %span.section-link{ :id => section_id }
      = link_to section.title, section_url(section)
    = render :partial => "partials/section_link", :collection => section.sections
- else
  = render :partial => "partials/section_link", :collection => section.sections
