- section = section_link
- if section.linkable?
  .section-line
    - section_id = 'section_'+section.id.to_s
    %span.section-link{ :id => section_id }
      = link_to section.title, section_url(section)
      - length = section.contribution_character_length
      - if length > 0 && length < 90
        .section-preview
          = section.contributions.collect { |contribution| contribution.member_name.to_s + contribution.text.to_s }.join('<br />')
    = render :partial => "partials/section_link", :collection => section.sections
- else
  = render :partial => "partials/section_link", :collection => section.sections
