- section = section_link
- if section.linkable?
  .section-link
    = link_to section.title, section_url(section)
    =render :partial => "partials/section_link", :collection => section.sections
- else
  =render :partial => "partials/section_link", :collection => section.sections
