body {
  background-color:   #fff;
  color:              #333;
  font-family:        Georgia, serif;
  margin-top:             0em;
margin-left:             10em;
margin-right:             20em;
margin-bottom:             10em;
width:	40em;
font-size: 1.2em;
line-height: 140%;
text-align: justify;
padding-top: 0em;
}

h1, h2, h3, h4 {
  font-weight: normal;
  text-align:center;
}

h2 {
  padding-bottom: 0.5em;
	border-bottom: 1pt solid #333;}

cite {
  display: inline;
}

blockquote {
  display: inline;
}

span {
  display:              inline;
}

a {
  text-decoration: none;
}

#title {font-size:1em;text-align:left;}

#search {float:right;}

#header {}
