body {
  background-color: #fff;
  color: #333;
  font-family: Georgia, serif;
  font-size: 1.2em;
  line-height: 140%;
  text-align: justify;

  position: relative;
  width: 34em; /* resizing font size doesn't change words per line */
  margin: 0 auto;
}

h1, h2, h3, h4 {
  font-weight: normal;
  text-align:center;
}

h2 {
  padding-bottom: 0.5em;
	border-bottom: 1pt solid #333;}

cite {
  display: inline;
}

blockquote {
  display: inline;
}

a {
  text-decoration: none;
}
