- data_file = warning
%tr{ :id => 'data_file_with_id_'+data_file.id.to_s }
  %td= [data_file.stripped_name, data_file.type_of_data, data_file.date_text, (data_file.saved ? 'Saved' : 'Not saved')].join("<br/>")
  %td.warning= truncate(h(data_file.log), 255)
  %td
    - if data_file.reload_possible?
      - form_remote_tag :url => { :controller => 'data_files', :action => data_file.get_reload_action, :date => data_file.date.to_s } do
        = submit_tag "Reload"
