%h1.title= 'Warnings from ' + link_to('data loading', data_files_url)
%table
  %thead
    %tr
      %th Name
      %th Warning
      %th Saved?
  %tbody
    = render :partial => 'warning', :collection => @data_files[false]
    = render :partial => 'warning', :collection => @data_files[true]