- @title = "Data files: Warnings"

%table#data_file_warnings
  %tbody
    = render :partial => 'warning', :collection => @data_files[false] if @data_files[false]
    = render :partial => 'warning', :collection => @data_files[true] if @data_files[true]