= marker_html(section, @marker_options)
- if section.title
  %h2= format_section_title(section.title) 
= render :partial => 'contribution', :collection => section.contributions
= render :partial => 'section', :collection => section.sections
