- suppress_title = false unless suppress_title
= marker_html(section, @marker_options)
- unless suppress_title
  - if section.title
    %h2
      %a{ :name => section.slug, :href => '#' + section.slug }= section.plain_title
= render :partial => 'contribution', :collection => section.contributions
= render :partial => 'section', :collection => section.sections
