- suppress_title = false unless suppress_title
= marker_html(section, @marker_options)
- unless suppress_title
  - if section.title
    %h2
      %a{ :name => section.title_for_linking, :href => '#' + section.title_for_linking }= section.title_cleaned_up
= render :partial => 'contribution', :collection => section.contributions
= render :partial => 'section', :collection => section.sections
