= marker_html(section, @marker_options)
%h2
  %a{ :name => section.title_for_linking, :href => '#' + section.title_for_linking }
    =section.title_cleaned_up
- if section.is_a? OralQuestionsSection
  - if section.introduction
    %p.question_introduction= section.introduction.text
  - else
    %p.warning
      Could not find introduction.text for OralQuestionsSection ID 
      =section.id
- else
  = render :partial => 'contribution', :collection => section.contributions
= render :partial => 'section', :collection => section.sections
