- @title = @section.title_via_associations

- @header_title = @section.title

%cite.section= "#{@section.hansard_reference}"

= render :partial => 'sections/section', :object => @section, :locals => { :suppress_title => true }


