- if contribution.is_a? ProceduralContribution
  %p.procedural= contribution.text
- elsif contribution.is_a? MemberContribution
  = render :partial => 'member_contribution', :object => contribution
- elsif contribution.is_a? QuoteContribution
  %p.quote= contribution.text
