= @title = "Commons"
%h1.title= @title
#licence
  %p
    Material from this site may be reproduced without formal permission for the purposes of <em>non-commercial research, private study and for criticism, review and news reporting</em> provided that the material is appropriately attributed. 
  %p
    For any other re-use of the material you are required to <a href="http://www.opsi.gov.uk/click-use/system/online/pLogin.asp?referrer=Parliament">apply for a Click-Use Parliamentary Licence from the Office of Public Sector Information</a>.

= render :partial => 'sitting', :collection => @sittings
