- @title = "Sittings by session"

%h2 By Series
%ol.series
  - @series.each do |series_number|
    %li= series_link(series_number)

%h2 By Monarch
%ol.monarchs
  - @monarchs.each do |monarch|
    %li= monarch_link(monarch)
