- @title = "Sessions by Years of the Reign of #{format_monarch_name(@monarch_name)}"

%ol.regnal_years
  - @sessions_ordered_by_regnal_year.each do |parliament_session|
    %li= reign_link parliament_session