- @title = "Volumes in series #{@series_number}, by number"

- @sessions_grouped_by_volume_in_series.each do |parliament_sessions|
  %ol.volumes
    - parliament_sessions.each do |parliament_session|
      %li= volume_link parliament_session