- @title = "#{@series_number.titleize} Series, Volume #{@volume_number}, columns by day"
= render :partial => 'session_columns_by_date', :object => @commons_session
= render :partial => 'session_columns_by_date', :object => @lords_session