- @title = "#{format_monarch_name(@monarch_name)}, #{reign_link_text(@years_of_reign)}, columns by day"
= render :partial => 'session_columns_by_date', :object => @commons_session
= render :partial => 'session_columns_by_date', :object => @lords_session