- if index_entry.parent_entry
  %div.index-child-entry
    = index_entry_links(index_entry)
- else
  %div.index-entry
    / oh how I wish I could link to google here
    = index_entry_links(index_entry)