-if @sitting
  = render :partial => 'partials/hansard_header'
  .debates
    =render :partial => "partials/section_link", :collection => @sitting.debates.sections
-else
  .no-sittings
    No information from the Lords was found for this period.