<h1>Listing sittings</h1>

<h2>Username: <%= session[:username] %></h2>

<table>
  <tr>
  <th>Date</th>
  </tr>
  
<% for sitting in @sittings %>
  <tr>
    <td><%= link_to sitting.date, :action => 'show', :id => sitting.Id %></td>
  </tr>
<% end %>
</table>

<%= link_to 'Previous page', { :page => @sitting_pages.current.previous } if @sitting_pages.current.previous %>
<%= link_to 'Next page', { :page => @sitting_pages.current.next } if @sitting_pages.current.next %> 

<br />

