- @title = resolution_title(@sitting_type, @date, :day)

- if @sittings.empty?
  .no-sittings No information is available for this date.

- else
  - if @sittings.length > 1
    %ul.jumplist
      - @sittings.each do |sitting|
        - unless sitting.all_sections.empty?
          %li.jumplist-item= "Skip to #{link_to_sitting_anchor(sitting)} #{link_to_parliament_uk(sitting)}"

  = render :partial => 'partials/sitting', :collection => @sittings


