%html{ :lang => 'en-GB', :xmlns => 'http://www.w3.org/1999/xhtml' }
  %head
    %meta{ 'http-equiv'.to_sym=>"Content-Type", :content=>"text/html;charset=utf-8" }
    %title= @title || "Historic Hansard"
    =stylesheet_link_tag "screen", :media => "screen" 
    =stylesheet_link_tag "print", :media => "print" 
    %link{ :rel => 'contact', :href => 'mailto:brookr@parliament.uk' }
    %link{ :rel => 'licence license', :href => 'http://www.parliament.uk/site_information/parliamentary_copyright.cfm' }
    %link{ :rel => 'next' }
    %link{ :rel => 'prev' }
  %body
    #header
      %form#search{:action => search_url}
        %input{:name => 'query'}
        %input{ :type => 'submit', :value => 'Search' }
      %h1#title Historic Hansard
      -day_nav_links 
    #content
      = yield
    #footer &copy; UK Parliament
