%html{ :lang => 'en-GB' }
  %head
    %meta{ 'http-equiv'.to_sym=>"Content-Type", :content=>"text/html;charset=utf-8" }
    %title= "Historic Hansard: " << (@title || "Please give me a title")
    =stylesheet_link_tag "screen", :media => "screen" 
    =stylesheet_link_tag "print", :media => "print" 
    %link{ :rel => 'contact', :href => 'mailto:brookr@parliament.uk' }
    %link{ :rel => 'licence license', :href => 'http://www.parliament.uk/site_information/parliamentary_copyright.cfm' }
  %body
    #header
      %p
        %form#search{ :action => search_url }
          %input{ :name => 'query' }
          %input{ :type => 'submit', :value => 'Search' }
        -day_nav_links 
    #content
      = yield
    #footer
      &copy; Parliamentary copyright. Material from this site may be reproduced without formal permission for the purposes of non-commercial research, private study and for criticism, review and news reporting provided that the material is appropriately attributed. For any other re-use of the material you are required to <a href="http://www.opsi.gov.uk/click-use/system/online/pLogin.asp?referrer=Parliament">apply for a Click-Use Parliamentary Licence from the Office of Public Sector Information</a>.
          
