%html{ :lang => 'en-GB' }
  %head
    %meta{ 'http-equiv'.to_sym=>"Content-Type", :content=>"text/html;charset=utf-8" }
    %title= "Historic Hansard: " << (@title || "Please give me a title")
    =stylesheet_link_tag "screen", :media => "screen" 
    =stylesheet_link_tag "print", :media => "print" 
    %link{ :rel => 'contact', :href => 'mailto:brookr@parliament.uk' }
    %link{ :rel => 'licence license', :href => 'http://www.parliament.uk/site_information/parliamentary_copyright.cfm' }
    / %script{ :src => 'http://www.google.com/jsapi?key=ABQIAAAABrCGpaWWu-hEvsgJXi3GVBRMz8STf0Jvo044tY8njlX94vik2RSNlgwwyZ6T16KgD92cZPqaBcsDAQ', :type => 'text/javascript' }
  %body
    #header
      / header begins
      %p
        %form#search{ :action => search_url }
          %input{ :name => 'query' }
          %input{ :type => 'submit', :value => 'Search' }
        -day_nav_links 
      / header ends
    #content
      / content begins
      = yield
      / content ends
    #footer 
      / footer begins
      %a{ :href => '#navigation'}
        Top of page
      / footer ends
