<!DOCTYPE html>
%html{ :lang => 'en-GB' }
  %head
    %meta{ 'http-equiv'.to_sym=>"Content-Type", :content=>"text/html;charset=utf-8" }
    %title= "UK Parliament: Hansard: Search"
    = stylesheet_link_tag "screen", :media => "screen"
  %body
    #frontpage
      = link_to "Pick something for me", random_url, {:id => "random-link"}
      = search_form
      
/ http://rua.parliament.uk/hansard/lords/1914/aug/04/the-european-crisis