%table
  %thead
    %tr
      %td Member Name
      %td= 'Count of <br />contributions'
  %tbody
    - @members.each do |member|
      %tr
        %td.member= link_to member.name, show_member_url(:name => member.slug)
        %td.number= member.contribution_count
