%table
  %thead
    %tr
      %th Member
      %th Contributions
  %tbody
    - @members.each do |member|
      %tr
        %td.member= link_to member.name, show_member_url(:name => member.slug)
        %td.number= member.contribution_count
