- @title = @member.name
- @contributions_in_groups_by_year_and_section.each do |by_year|
  %h2= by_year.first.first.year
  - by_year.each do |by_section|
    %p
      = by_section.first.date
      = link_to by_section.first.section.title, section_url(by_section.first.section)
      = by_section.size
